@using Microsoft.AspNet.Identity
<br />
<br />
@if (Request.IsAuthenticated) {
    <ul style="list-style-type:none; display:inline;">
        <li>
            <i class="fa fa-user fa-fw" style="color:white"></i>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
    </ul>
}
else
{
    <ul style="display:inline;">
        <li style="display:inline;">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) 
        </li>
        <li style="display:inline;"> | </li>
        <li style="display:inline;">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
