@model IEnumerable<BugTracker.Models.Project>
@{
    ViewBag.Title = "ProjectList";
}

<h2>Project List</h2>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.Name) </h4>
                <a href="@Url.Action("Details", "Projects", new { id = item.Id })" role="button" class="btn btn-sm btn-default">Details</a>
              
                @{if (User.IsInRole("Submitter"))
                    {
                        <a href="@Url.Action("Create", "Tickets", new { projectId = item.Id })" role="button" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-bug"></i>Create Ticket</a>
                        @*@Html.ActionLink("Create Ticket", "Create", "Tickets", new { projectId = item.Id }, "")*@
                    }
                }
            </td>



            </tr>
    }
</table>

@{ if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        @Html.ActionLink("All Projects", "Index", "Projects")
    }
}